<div class="app-container" [class.app-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="app-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="app-name">Net-Tool</h1>
  </mat-toolbar>

  <mat-sidenav-container class="app-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <!-- Sidenav menu -->
        <a mat-list-item routerLink="/home" >Home</a>
        <a mat-list-item routerLink="/connection" >Connection Test</a>
        <a mat-list-item routerLink="/terminal">Terminal</a>
        <a mat-list-item routerLink="/traceroute" disabled="disabled">Traceroute (not implemented yet)</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <!-- FOOTER -->

  <mat-toolbar color="secondary">
    <mat-toolbar-row>
      <mat-icon>info</mat-icon>
      <span class="mat-caption">Net-Tool, developed by <b>Alberto Geniola</b>, all rights reserved.</span>
    </mat-toolbar-row>
  </mat-toolbar>

</div>
