<mat-sidenav-container fxFill>
    <mat-sidenav mode="side" position="end" opened>
        <!-- Executed tests -->
        <mat-card *ngFor="let ex of executions" class="result-card">
            <mat-card-header>
                <div>
                    <mat-icon> {{ ex.result.connectionSuccess ? 'check' : 'block'}}</mat-icon>
                </div>
                <!-- <div mat-card-avatar class="example-header-image"></div> -->
                <mat-card-title>{{ex.configuration.host}} {{ex.configuration.protocol}}/{{ex.configuration.port}}</mat-card-title>
                <mat-card-subtitle>
                    <span *ngIf="ex.result.connectionSuccess">RTT: {{ex.result.rttMs}} ms<br/></span>
                    <span *ngIf="ex.result.connectionSuccess">Resolved Addr: {{ex.result.remotePeerAddr == null ? "" : ex.result.remotePeerAddr[0]+":"+ex.result.remotePeerAddr[1]}}</span>
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content *ngIf="!ex.result.connectionSuccess">
                  Connection Error: {{ex.result.connectionError}}
              </mat-card-content>
        </mat-card>        
    </mat-sidenav>
    <mat-sidenav-content fxFill>
        <!-- Test Configuration -->
        <div fxLayout="column">
            <div fxFlexAlign="center" fxLayout="column" class="form-container">
                <h2>Test parameters</h2>
                <p>Fill in the test configuration and press "start" to run the remote test. </p>
                <form [formGroup]="connectionTestForm" (ngSubmit)="runTest()">
                    <mat-accordion>
                        <mat-expansion-panel expanded="true">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                Basic Parameters
                                </mat-panel-title>
                                <mat-panel-description>
                                Target Host, protocol, port
                                </mat-panel-description>
                            </mat-expansion-panel-header>          
                            <div fxLayout="column">
                                <mat-form-field>
                                    <mat-label>Target Host</mat-label>
                                    <input matInput type="text" [(ngModel)]="conf.host" formControlName="host" placeholder="google.com or 8.8.8.8">
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Protocol</mat-label>
                                    <mat-select formControlName="protocol" [(ngModel)]="conf.protocol">
                                        <mat-option value="tcp">TCP</mat-option>
                                        <mat-option value="udp" disabled>UDP (not implemented yet)</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Target Port</mat-label>
                                    <input matInput formControlName="port" [(ngModel)]="conf.port" type="number" placeholder="80 or 443">
                                </mat-form-field>
                            </div>
                        </mat-expansion-panel>
                        <mat-expansion-panel expanded="false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Advanced params
                                </mat-panel-title>
                                <mat-panel-description>
                                    Timeout, SockRead, etc.
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div fxLayout="column">
                                <mat-form-field>
                                    <mat-label>Timeout (seconds)</mat-label>
                                    <input formControlName="timeout" matInput type="number" [(ngModel)]="conf.timeout" placeholder="5">
                                </mat-form-field>
                                <mat-checkbox formControlName="readData" [(ngModel)]="conf.readData">Attempt to read data from remote socket as soon as connected.</mat-checkbox>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <br/>
                    <div style="text-align:center">
                        <button mat-raised-button color="primary" [class.spinner]="loading" [disabled]="!connectionTestForm.valid || loading" type="submit">Run Test</button>
                      </div>
                </form>
            </div>
        </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
